.form{

    &__group:not(:last-child){
 
        margin-bottom: 2rem;
        }
        &__input{
            font-size: 1.5rem;
            font-family: 'Lato',sans-serif;
            color: inherit;
            padding: 1.2rem 1rem;
            border-radius: 20px;
            background-color: rgba($color-white,.5);
             
            border-bottom: 3px solid transparent;

            border: none;
            width: 80%;
            display: block;

        
           margin:2rem 4rem;

           

          &:focus{
              outline: none;
              box-shadow: 0 1.5rem 2rem rgba($color-black,.2);
              border-bottom: 3px solid $color-green;
          }
          &:focus:invalid{
              border-bottom: 3px solid $color-orangered;
          }
          
        }

        &__textarea{
            height: 6.5rem;
            position: relative;
        }
        &__text{
            font-size: 10px;
            color: $color-black;
            position: absolute;
             margin-top: -1.5rem;
            right: 11.5rem;     
        }
        &__linkcolor{
            color:lightskyblue;
        }

}
